<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rustico | Tecnologia e Luta de Classes</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const burger = document.querySelector('.navbar-burger');
            const menu = document.getElementById(burger.dataset.target);

            burger.addEventListener('click', () => {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        });
    </script>

    <style>
        :root {
        --bulma-primary-h: 20;
        --bulma-primary-s: 90%;
        --bulma-primary-l: 55%;
        }

        .title { 
            font-family: "Pixelify Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
        }

        .navbar-item { 
            font-family: "Pixelify Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }

        .hero-bg {
            position: relative;
            overflow: hidden;
            background: radial-gradient(circle at 20% 30%, #130000, transparent 40%),
                        radial-gradient(circle at 80% 70%, #140900, transparent 40%),
                        radial-gradient(circle at 50% 50%, #241104, #0f0000 70%);
        }

    </style>

</head>


<body class="is-flex is-flex-direction-column hero-bg" style="min-height: 100vh;">

    <nav class="navbar has-background-primary-05" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div href="/" class="title m-3 is-flex is-align-items-center"> <img src="/static/images/logo.png" width="45px" height="45px" alt="Logo Rustico"> <span class="ml-2 mb-1"> Rust<span class="has-text-primary">ico</span> </span></div>
            <a role="button"
                class="navbar-burger has-text-primary"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item has-text-primary" href="/" aria-current="page">
                    &lt; Início /&gt;
                </a>
                <a class="navbar-item has-text-primary" href="/artigos">
                    &lt; Artigos /&gt;
                </a>
                <a class="navbar-item has-text-primary" href="/sobre">
                    &lt; Sobre o Projeto /&gt;
                </a>
            </div>
        </div>    
    </nav>

    <main class="container columns">
        <section class="column is-two-thirds mt-5">
            {% for post in feed %}
                <article class="section box is-rounded has-background-primary-00" style="border-left: 6px solid #a70808;">
                    <div class="subtitle has-text-grey">
                        Publicado em {{ post.created_at | date(format="%d de %B de %Y") }}
                        • Por {{ post.author }}
                    </div>

                    <h2 class="title">
                        <a class="has-text-primary" href="/post/{{ post.slug }}">
                            {{ post.title }}
                        </a>
                    </h2>

                    <p class="content ">
                        {{ post.content | striptags | truncate(length=180) }}
                    </p>

                    <a href="/post/{{ post.slug }}"><button class="button is-primary is-dark">
                        Ler Artigo completo
                    </button></a>
                </article>
            {% endfor %}
        </section>

        <aside class="column section">
            <div class="has-background-primary-05 p-5 box is-rounded">
                <div class="mb-4">
                    <h3 class="title">Sobre o Rustico</h3>
                    <hr class="has-background-primary"></hr>
                    <p>"O Rustico nasce como um porta-voz dos desenvolvedores cansados da opressão travestida de inovação. E sim, o site é feito em Rust!"</p>
                </div>
                
                <div class="subtitle">
                    <h3 class="mb-2 mt-6">Tags Populares</h3>
                    <div>
                        <a href="#" class="tag">#RustLang</a>
                        <a href="#" class="tag">#Marxismo</a>
                        <a href="#" class="tag">#OpenSource</a>
                        <a href="#" class="tag">#LutaDeClasses</a>
                        <a href="#" class="tag">#BigTech</a>
                        <a href="#" class="tag">#WebAssembly</a>
                    </div>
                </div>
            </div>
        </aside>
    </main>

    <footer class="footer has-background-primary-00" style="max-height: 130px;">
        <div class="content has-text-centered">
            <p>Trabalhadores de tecnologia do mundo, uni-vos!</p>
            <p><small>&copy; 2026 Coletivo Rustico. Todo o código fonte pertence à classe trabalhadora.</small></p>
        </div>
    </footer>

</body>
</html>