<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rustico | Tecnologia e Luta de Classes</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const burger = document.querySelector('.navbar-burger');
            const menu = document.getElementById(burger.dataset.target);

            burger.addEventListener('click', () => {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        });
    </script>

    <style>
        :root {
        --bulma-primary-h: 20;
        --bulma-primary-s: 90%;
        --bulma-primary-l: 55%;
        }

        .borda {
            border-left: 6px solid #920a00;
        }

        @media screen and (max-width: 1023px) {
            .borda {
                border-left: none;
            }
        }

        .title { 
            font-family: "Pixelify Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
        }

        .navbar-item { 
            font-family: "Pixelify Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }

        .hero-bg {
            position: relative;
            overflow: hidden;
            background: radial-gradient(circle at 20% 30%, #1d0000, transparent 40%),
                        radial-gradient(circle at 80% 70%, #140900, transparent 40%),
                        radial-gradient(circle at 50% 50%, #381a06, #0f0000 70%);
        }

    </style>

</head>

<body class="is-flex is-flex-direction-column hero-bg" style="min-height: 100vh;">

    <nav class="navbar has-background-primary-05" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div href="/" class="title m-3 is-flex is-align-items-center"> <img src="/static/images/logo.png" width="45px" height="45px" alt="Logo Rustico"> <span class="ml-2 mb-1"> Rust<span class="has-text-primary">ico</span> </span></div>
            <a role="button"
                class="navbar-burger has-text-primary"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item has-text-primary" href="/" aria-current="page">
                    &lt; Início /&gt;
                </a>
                <a class="navbar-item has-text-primary" href="/artigos">
                    &lt; Artigos /&gt;
                </a>
                <a class="navbar-item has-text-primary" href="/sobre">
                    &lt; Sobre o Projeto /&gt;
                </a>
            </div>
        </div>    
    </nav>

    <main class="container">

        <article class="section">

            <header class="post-header">
                <h1 class="title">{{ article.title }}</h1>

                <div class="subtitle has-text-grey is-size-6">
                    Publicado em 
                    {{ article.created_at | date(format="%d de %B de %Y") }}
                    • Por {{ article.author }}
                </div>
            </header>

            <section class="content mt-6">
                {{ article.content | safe }}
            </section>

        </article>

    </main>

    <footer class="footer has-background-primary-00 mt-4" style="max-height: 130px;">
        <div class="content has-text-centered">
            <p>Trabalhadores de tecnologia do mundo, uni-vos!</p>
            <p><small>&copy; 2026 Coletivo Rustico. Todo o código fonte pertence à classe trabalhadora.</small></p>
        </div>
    </footer>

</body>
</html>